<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 File name  :  index.html
 Purpose    :  structure for game recap page
 Author     :  Keziah Rezaey
 Date       :  2018-08-02
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  -->

 <!DOCTYPE html>
 <html lang="en" dir="ltr">
 <head>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <script src="/scripts/scripts.js" defer></script>
     <meta charset="UTF-8">
     <title>Lakers Post-Game Recap</title>
 </head>
 <body>
     <div id="content">
        <div id="header">
            <div id="horizontal_ad">
                <h1> advertisement placeholder !!! pic !!! </h1>
            </div>
            <div id="score">
                <h1> score here !!! text !!! </h1>
            </div>
        </div>
        <div id="maincontent">
            <div id="video">
                <h1>Video will go here !!! embedded video !!!</h1>
            </div>
            <div id="recap">
                <h1>Game recap will go here !!! text !!!</h1>
            </div>
            <div id="gallery">
                <h1>photos go here !!! pic !!!</h1>
            </div>
        </div>
        <div id="left">
            <div id="postgame">
                <h1> post game content goes here !!! text !!! </h1>
            </div>
        </div>
        <div id="right">
            <div id="square_ad">
                <h1> advertisement placeholder !!! pic !!! </h1>
            </div>
        </div>
    </div>
 </body>
 </html>
