<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 File name  :  index.html
 Purpose    :  structure for game recap page
 Author     :  Keziah Rezaey
 Date       :  2018-08-02
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  -->

 <!DOCTYPE html>
 <html lang="en" dir="ltr">
 <head>
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
    <script src="../scripts/scripts.js" defer></script>
     <meta charset="UTF-8">
     <title>Lakers Post-Game</title>
 </head>
 <body>
     <div id="content">
        <div id="nba_header">
            <img src="../media/nba_nav.png" height="30px" width="auto">
        </div>
        <div id="logo">
            <p>LA Lakers</p>
        </div>
        <div id="header">
                <div id="nav">
                        <ul>
                            <li>NEWS</li>
                            <li>TEAM</li>
                            <li>SCHEDULE</li>
                            <li>TICKETS</li>
                            <li>MULTIMEDIA</li>
                            <li>LAKER GIRLS</li>
                            <li>COMMUNITY</li>
                            <li>FANS</li>
                        </ul>
                    </div>
                    <p> header placeholder</p>
            <div id="horizontal" class="ad">
                <img src="../media/horizontal_ad.jpg">
            </div>
        </div>
        <div id="main">
                <div id="score">
                        <div id="lal_score">
                            <h1> Los Angeles Lakers </h1>
                            <img src="../media/lal.png">
                            <h3>37-45</h3>
                            <h1>69</h1>
                        </div>
                        <div id="chi_score">
                                <h1> Chicago Bulls </h1>
                                <img src="../media/chi.png">
                                <h3>22-60</h3>
                                <h1>60</h1>
                        </div>
                    </div>
            <div id="video">
                <h1>Video will go here !!! embedded video !!!</h1>
            </div>
            <div id="recap">
                <h1>Game recap will go here !!! text !!!</h1>
            </div>
            <div id="gallery">
                <h1>photos go here !!! pic !!!</h1>
            </div>
        </div>
        <div id="left">
            <div id="postgame">
                <h1> post game content goes here !!! text !!! </h1>
            </div>
        </div>
        <div id="right">
            <div id="square" class="ad">
                <h1> advertisement placeholder !!! pic !!! </h1>
            </div>
        </div>
        <div id="footer">
            <p>Placeholder</p>
        </div>
    </div>
 </body>
 </html>
