<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 File name  :  index.html
 Purpose    :  structure for game recap page
 Author     :  Keziah Rezaey
 Date       :  2018-08-02
 Note       :  created and styled with Firefox web browser
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  -->
 <!DOCTYPE html>
 <html dir="ltr" lang="en">
 <head>
     <link href="../styles/styles.css" rel="stylesheet" type="text/css">
     <script defer src="../scripts/scripts.js">
     </script>
     <meta charset="UTF-8">
     <title>Lakers Post-Game</title>
 </head>
 <body>
     <div id="content">
         <div id="nba_header"><img height="30px" src="../media/nba_nav.png" width="auto"></div>
         <div id="logo"><img height="auto" src="../media/logo.png" width="70%"></div>
         <div id="header">
             <div id="nav">
                 <ul>
                     <li>NEWS</li>
                     <li>TEAM</li>
                     <li>SCHEDULE</li>
                     <li>TICKETS</li>
                     <li>MULTIMEDIA</li>
                     <li>COMMUNITY</li>
                     <li>FANS</li>
                 </ul>
             </div>
             <div id="horizontal"><img src="../media/horizontal_ad.jpg"></div>
         </div>
         <div id="main">
             <div id="score">
                 <div id="lal_score">
                     <h1>Los Angeles Lakers</h1>
                     <h3>37-45</h3><img src="../media/lal.png">
                     <p>69</p>
                 </div>
                 <div id="chi_score">
                     <h1>Chicago Bulls</h1>
                     <h3>22-60</h3><img src="../media/chi.png">
                     <p>60</p>
                 </div>
             </div>
             <div id="recap">
                 <h1>Stout Defense Leads Lakers to Second Straight Vegas Win</h1>
                 <div class="video">
                     <iframe allowfullscreen frameborder="0" height="315" src="https://www.youtube.com/embed/mgWtTPPJv6c" width="560"></iframe>
                 </div>
                 <h3>by Joey Ramirez</h3>
                 <p>LAS VEGAS — The play of the night began with a rare miss from a deadeye shooter.</p>
                 <p>Svi Mykhailiuk’s transition 3-pointer bounced off the front of the rim. Launched with a hand in his face, the rookie knew he had to make amends for his shot selection.</p>
                 <p>“Oh man, I did a bad shot, so I had to get it back,” Mykhailiuk said.</p><img class="center" src="../media/gallery8.jpg">
                 <p>He did just that, picking up Chandler Hutchison, Chicago’s 22nd-overall draft pick, 94 feet away from the basket and making him sweat just to get to half court.</p>
                 <p>When Hutchison did finally manage to get past Mykhailiuk, the 47th pick poked the ball out from behind and sprinted ahead for a fast-break slam, much to the approval of the Las Vegas crowd.</p>
                 <p>While that may have been the highlight of the Lakers’ 69-60 win, it certainly wan’t the only time that Mykhailiuk came through defensively. Hutchison — who averaged a Mountain West-leading 20.0 points per game last season — was held to just seven points on 3-of-10 shooting.</p>
                 <p>“They tried to iso Svi many times,” summer league coach Miles Simon said. “Five, six, seven times. And they didn’t get anything out of it.”</p>
                 <p>But it wasn’t just the Svi show. The Lakers — who improved to 2-0 at the Las Vegas Summer League — held the Bulls to 26 fewer points than they scored the night before.</p>
                 <p>Despite shooting a woeful 31.6 percent themselves, the Lakers limited Chicago to 30.4 percent shooting and 18 turnovers.</p>
                 <p>“We didn’t shoot the ball well at all,” Josh Hart said. “When you play defense like that, it’s hard to lose.”</p><img class="center" src="../media/gallery6.jpg">
                 <p>The Lakers were especially locked in from inside the arc, holding the Bulls to a minuscule 21.2 percent clip on two-pointers.</p>
                 <p>Much of this had to do with the play of Moe Wagner, who did a bit of everything with eight points, 14 rebounds, thee steals and two blocks.</p>
                 <p>As center, Wagner served as the Lakers’ back line, constantly calling out defensive coverages to his guards and successfully contesting shots at the rim.</p>
                 <p>During the third quarter, the Lakers made nine stops in a row. In the fourth, they made seven. Wagner was a key part.</p>
                 <p>“He was affecting shots at the rim tonight, he was … quarterbacking the paint when they were running ball screens with Wendell Carter,” Simon said. “He was rebounding, he was all over the floor. He seems to end up on the floor about 10 times a game, but it’s fun to see.”</p>
                 <h3>NOTES</h3>
                 <p>Hart led the Lakers with 19 points, including four 3’s. … Mykhailiuk scored 15 points on 6-of-12 shooting. … Chicago’s three main players — Hutchison, Wendell Carter Jr. and Antonio Blakeney — shot just 7-of-20.</p>
             </div>
             <div class="video">
                 <iframe allowfullscreen frameborder="0" height="315" src="https://www.youtube.com/embed/mWLNikp-d9Y" width="560"></iframe>
             </div>
             <div id="related_articles">
                 <h2>Related Articles</h2>
                 <div class="article">
                     <h3>Lorem ipsum</h3>
                     <p>Dolor sit amet, consectetur adipiscing elit. Nulla venenatis, felis sit amet eleifend eleifend, tortor est posuere lorem, vel ultrices arcu libero vitae elit. Nam vitae mauris in dolor bibendum tempus. Maecenas placerat pulvinar velit eget aliquet. Vestibulum non ornare nisi, et pellentesque odio. Nulla quam eros, condimentum vitae semper ac, sollicitudin quis nunc. Donec commodo urna a risus feugiat tristique. Integer ut finibus justo.</p>
                 </div>
                 <div class="article">
                     <h3>Lorem ipsum</h3>
                     <p>Dolor sit amet, consectetur adipiscing elit. Nulla venenatis, felis sit amet eleifend eleifend, tortor est posuere lorem, vel ultrices arcu libero vitae elit. Nam vitae mauris in dolor bibendum tempus. Maecenas placerat pulvinar velit eget aliquet. Vestibulum non ornare nisi, et pellentesque odio. Nulla quam eros, condimentum vitae semper ac, sollicitudin quis nunc. Donec commodo urna a risus feugiat tristique. Integer ut finibus justo.</p>
                 </div>
                 <div class="article">
                     <h3>Lorem ipsum</h3>
                     <p>Dolor sit amet, consectetur adipiscing elit. Nulla venenatis, felis sit amet eleifend eleifend, tortor est posuere lorem, vel ultrices arcu libero vitae elit. Nam vitae mauris in dolor bibendum tempus. Maecenas placerat pulvinar velit eget aliquet. Vestibulum non ornare nisi, et pellentesque odio. Nulla quam eros, condimentum vitae semper ac, sollicitudin quis nunc. Donec commodo urna a risus feugiat tristique. Integer ut finibus justo.</p>
                 </div>
                 <div class="article">
                     <h3>Lorem ipsum</h3>
                     <p>Dolor sit amet, consectetur adipiscing elit. Nulla venenatis, felis sit amet eleifend eleifend, tortor est posuere lorem, vel ultrices arcu libero vitae elit. Nam vitae mauris in dolor bibendum tempus. Maecenas placerat pulvinar velit eget aliquet. Vestibulum non ornare nisi, et pellentesque odio. Nulla quam eros, condimentum vitae semper ac, sollicitudin quis nunc. Donec commodo urna a risus feugiat tristique. Integer ut finibus justo.</p>
                 </div>
                 <div class="article">
                     <h3>Lorem ipsum</h3>
                     <p>Dolor sit amet, consectetur adipiscing elit. Nulla venenatis, felis sit amet eleifend eleifend, tortor est posuere lorem, vel ultrices arcu libero vitae elit. Nam vitae mauris in dolor bibendum tempus. Maecenas placerat pulvinar velit eget aliquet. Vestibulum non ornare nisi, et pellentesque odio. Nulla quam eros, condimentum vitae semper ac, sollicitudin quis nunc. Donec commodo urna a risus feugiat tristique. Integer ut finibus justo.</p>
                 </div>
             </div>
         </div>
         <div id="left">
             <blockquote class="twitter-tweet tw-align-center">
                 <p dir="ltr" lang="en">Big one-handed slam by Moe Wagner! <a href="https://twitter.com/hashtag/LakeShow?src=hash&amp;ref_src=twsrc%5Etfw">#LakeShow</a> (📺: <a href="https://twitter.com/SpectrumSN?ref_src=twsrc%5Etfw">@SpectrumSN</a> &amp; ESPN2) <a href="https://t.co/BXbkpbjSjZ">pic.twitter.com/BXbkpbjSjZ</a></p>&mdash; Los Angeles Lakers (@Lakers) <a href="https://twitter.com/Lakers/status/1016182875446636544?ref_src=twsrc%5Etfw">July 9, 2018</a>
             </blockquote>
             <script async charset="utf-8" src="https://platform.twitter.com/widgets.js">
             </script> <img class="center" id="square" src="../media/square_ad.jpg">
             <div class="video">
                 <blockquote class="twitter-tweet tw-align-center">
                     <p dir="ltr" lang="en">Nothing but wins for a Vegas weekend. <a href="https://twitter.com/hashtag/LakeShow?src=hash&amp;ref_src=twsrc%5Etfw">#LakeShow</a> improves to 2-0 at the LV Summer League. <a href="https://twitter.com/joshhart?ref_src=twsrc%5Etfw">@joshhart</a>: 19 pts, 6 reb<a href="https://twitter.com/Sviat_10?ref_src=twsrc%5Etfw">@Sviat_10</a>: 15 pts<a href="https://twitter.com/moritz_weasley?ref_src=twsrc%5Etfw">@moritz_weasley</a>: 8 pts, 14 reb, 3 stl, 2 blk <a href="https://t.co/parMbWcRT5">pic.twitter.com/parMbWcRT5</a></p>&mdash; Los Angeles Lakers (@Lakers) <a href="https://twitter.com/Lakers/status/1016192840454455296?ref_src=twsrc%5Etfw">July 9, 2018</a>
                 </blockquote>
                 <script async charset="utf-8" src="https://platform.twitter.com/widgets.js">
                 </script>
             </div>
             <div id="gallery"><img class="gallerysize" src="../media/gallery2.jpg"> <img class="gallerysize" src="../media/gallery4.jpg"> <img class="gallerysize" src="../media/gallery3.jpg"> <img class="gallerysize" src="../media/gallery5.jpg"> <img class="gallerysize" src="../media/gallery6.jpg"> <img class="gallerysize" src="../media/gallery7.jpg"></div>
         </div>
     </div>
 </body>
 </html>