/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 File name  :  styles.css
 Purpose    :  styling for page
 Author     :  Keziah Rezaey
 Date       :  2018-08-02
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */

 body {
	font-family: avenir;
	background-image: url("../media/repeating-background-image.jpg");
}
#content {
	display: grid;
	grid-template-rows: 30px 1fr 5fr;
	grid-template-columns: 500px 10fr;
	grid-gap: 5px;
}
#nba_header {
	grid-row: 1 / span 1;
	grid-column: 1 / span 3;
	padding-bottom: 10px;
	overflow-y: none;
}
#logo {
	grid-row: 2 / span 1;
	grid-column: 1 / span 1;
	text-align: center;
	padding-top: 10%;
}
#header {
	grid-row: 2 / span 1;
	grid-column: 2 / span 1;
}
#logo, #header {
	background-image: url("../media/repeating-background-image.jpg");
}
#nav {
	background-color: black;
}
#nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#nav li {
	text-align: center;
	background-image: none;
	float: left;
	padding: 10px;
	color: white;
}
#nav li:hover {
	background-image: url("../media/repeating-background-image.jpg");
	color: white;
}
#horizontal {
   text-align: center;
   width: 10fr;
   height: auto;
}
#main {
	grid-row: 3 / span 1;
	grid-column: 2 / span 1;
   background-color: white;
   margin-top: -86%;
}
#score {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 10px;
	text-align: center;
	background-image: url("../media/gallery1_edited.png");
	background-size: auto;
	color: white;
}
#score img {
	width: 50%;
	height: auto;
	margin-top: -20px;
	margin-bottom: -120px;
}
#score p {
	font-size: 100px;
	margin-bottom: -25px;
}
#lal_score {
	grid-column: 1;
}
#chi_score {
	grid-column: 2;
}
#video, #recap, #gallery {
	grid-column: 1 / span 2;
}
.video, #recap h1 {
	text-align: center;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	height: auto;
	border: 1px solid black;
}
#recap, #related_articles {
	padding: 10px;
}
.article {
   padding: 10px;
   margin: 5px;
}
.article h3:hover {
   color: purple;
}
#left {
	grid-row: 3 / span 1;
   grid-column: 1 / span 1;
   background-image: url("../media/repeating-background-image.jpg");
   margin-top: -87%;
}
.twitter-tweet {
	width: 50%;
}
#square {
   width: 500px;
   height: auto;
}
#left h1 {
   color: white;
}
.gallerysize {
   max-width: 500px;
   height: auto;
   opacity: 0.5;
   transition: opacity 1.5s;
   border: 1px black solid;
}

.gallerysize:hover {
   opacity: 1;
}
